{% extends "base.html" %}
{% block account %}
<a class="navbar-brand navbar-right" href="/login">Login</a>
{% endblock %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 jumbotron">
      <form class="form-signin" method ="POST" action="/regist">
        <h2 class="form-signin-heading">Regist</h2>
        <div class="form-group">
        <label for="registemail">Email address</label>
        <input type="text" class="form-control" id="registemail" placeholder="Email" name="username" required>
        <label for="registpassword">Password</label>
        <input type="password" class="form-control" id="registpassword" placeholder="Password" name="password" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Regist</button>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      </div>
      <div class="col-md-3"></div>
    </div>
{% endblock %}


