{% extends "base.html" %}
{% block account %}
<ul class="nav navbar-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/write_note">Write Note</a></li>
</ul>
<a class="navbar-brand navbar-right" href="/logout">Logout</a>
<a class="navbar-brand navbar-right">{{ g.user.username }}</a>
{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-7">
{% for note in notes %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">{{note.title}}<small>{{note.date}}</small></h1>
    </div>
    <div class="panel-body">
      {{note.content}}
    </div>
  </div>
{% endfor %}
</div>
<div class="col-md-3">
          <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>
</div>
<div class="col-md-1"></div>
</div>
{% endblock %}
{% block js %}{% endblock %}